* {
    margin: 0px;
    box-sizing: border-box;
}

input:focus,
input.form-control:focus {

    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

p,
a {
    font-weight: bold;
}

html,
body {
    width: 100%;
    height: 100%;
}

.fondo {
    width: 100%;
    height: 100%;
    background-image: url(images.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 340px;
    height: 400px;
    background-color: rgba(94, 98, 109, 0.8);
    border-radius: 42px;
}

.login_header {
    width: 100%;
    height: 24%;
    background-image: url(logo2.png);
    background-repeat: no-repeat;
    background-position: 224px 40px;
    background-size: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(94, 98, 109);
}

.login_header p {
    position: relative;
    top: 22px;
    left: -22px;
    color: #ffffff;
    font-size: 18px;
}

.login_section {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.usuario {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.user {
    z-index: 99;
    position: relative;
    right: 78px;
    top: 8px;
    color: #ffffff;
    font-size: 16px;
    transition: font-size 0.2s, color 0.2s, top 0.2s, right 0.2s;
}

.user_end {
    z-index: 99;
    position: relative;
    top: -18px;
    right: 92px;
    color: #ffffff;
    font-size: 10px;
    transition: font-size 0.2s, color 0.2s, top 0.2s, right 0.2s;
}

.in_user {
    position: absolute;
    width: 240px;
    padding: 2px 8px;
    color: #ffffff;
    opacity: 1;
    border-bottom: 2px solid #ffffff;
    border-top: 0px;
    border-right: 0;
    border-left: 0;
    background-color: transparent;

}


.contra {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.con {
    z-index: 98;
    position: relative;
    right: 68px;
    top: 8px;
    color: #FFFFFF;
    transition: font-size 0.2s, color 0.2s, right 0.2s, top 0.2s;
}

.con_end {
    z-index: 99;
    position: relative;
    top: -16px;
    right: 82px;
    color: #FFFFFF;
    font-size: 10px;
    transition: font-size 0.2s, color 0.2s, right 0.2s, top 0.2s;
}

.in_contra {
    position: absolute;
    width: 240px;
    padding: 2px 8px;
    opacity: 1;
    border-bottom: 2px solid #ffffff;
    border-top: 0px;
    border-right: 0;
    border-left: 0;
    color: #ffffff;
    background-color: transparent;
}



.footer {
    width: 100%;
    height: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    text-decoration: none;
    color: black;
}

/* -------------------- Media Querys 360px -------------------- */

@media only screen and (max-width: 380px){
    .login {
        width: 310px;
        height:500px;
    }

    .login_header {
        width: 100%;
        height: 24%;
        background-image: url(logo2.png);
        background-repeat: no-repeat;
        background-position: 260px 60px;
        background-size: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid rgba(94, 98, 109);
    }

    .login_header p {
        position: relative;
        top: 22px;
        left: -22px;
        color: #ffffff;
        font-size: 20px;
    }

    .login_section {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .usuario {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .user {
        z-index: 99;
        position: relative;
        right: 70px;
        top: 8px;
        color: #ffffff;
        font-size: 26px;
        transition: font-size 0.1s, color 0.2s;
    }

    .user_end {
        z-index: 99;
        position: relative;
        top: 8px;
        color: #ffffff;
        font-size: 0;
        transition: font-size 0.1s, color 0.2s;
    }

    .in_user {
        position: absolute;
        width: 290px;
        height: 50px;
        padding: 2px 8px;
        color: #ffffff;

    }

    .in_user_end {
        position: relative;
        left: -24px;
        width: 72%;

    }

    .contra {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .con {
        z-index: 98;
        position: relative;
        right: 54px;
        top: 8px;
        color: #ffffff;
        font-size: 26px;
        transition: font-size 0.2s, color 0.2s;
    }

    .con_end {
        z-index: 99;
        position: relative;
        top: 8px;
        color: #ffffff;
        font-size: 0;
        transition: font-size 0.2s, color 0.2s;
    }

    .in_contra {
        position: absolute;
        
        width: 290px;
        height: 50px;
        padding: 2px 8px;
    }

    .in_contra_end {
        position: relative;
        left: -24px;
        width: 72%;
        color: #ffffff;
    }

    .footer {
        width: 100%;
        height: 24%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer a {
        text-decoration: none;
        color: black;
        font-size: 26px;
    }

}


/* -------------------- Media Querys 768px -------------------- */

@media only screen and (min-width:362px) and(max-width: 768px) {
    .login {
        width: 840px;
        height: 900px;
    }

    .login_header {
        width: 100%;
        height: 24%;
        background-image: url(logo2.png);
        background-repeat: no-repeat;
        background-position: 464px 68px;
        background-size: 108px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid rgba(94, 98, 109);
    }

    .login_header p {
        position: relative;
        top: 22px;
        left: -22px;
        color: #ffffff;
        font-size: 38px;
    }

    .login_section {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .usuario {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .user {
        z-index: 99;
        position: relative;
        right: 190px;
        top: 8px;
        color: rgba(94, 98, 109, 1);
        font-size: 36px;
        transition: font-size 0.1s, color 0.2s;
    }

    .user_end {
        z-index: 99;
        position: relative;
        top: 8px;
        color: rgba(94, 98, 109, 0);
        font-size: 0;
        transition: font-size 0.1s, color 0.2s;
    }

    .in_user {
        position: absolute;
        width: 540px;
        height: 80px;
        padding: 2px 8px;

    }

    .in_user_end {
        position: relative;
        left: -24px;
        width: 72%;

    }

    .contra {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .con {
        z-index: 98;
        position: relative;
        right: 160px;
        top: 8px;
        color: #5E626D;
        font-size: 36px;
        transition: font-size 0.2s, color 0.2s;
    }

    .con_end {
        z-index: 99;
        position: relative;
        top: 8px;
        color: rgba(94, 98, 109, 0);
        font-size: 0;
        transition: font-size 0.2s, color 0.2s;
    }

    .in_contra {
        position: absolute;

        width: 540px;
        height: 80px;
        padding: 2px 8px;
    }

    .in_contra_end {
        position: relative;
        left: -24px;
        width: 72%;
    }

    .footer {
        width: 100%;
        height: 24%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer a {
        text-decoration: none;
        color: black;
        font-size: 38px;
    }

}